.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toggle-buttons {
  text-align: center;
}

.toggle {
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
  color: var(--secondary-text);
  border: none;
  padding: 0.15rem 1.5rem;
}

.toggle:hover {
  background-color: transparent;
  color: var(--primary-text);
}
