.right {
  right: 0;
  background-color: var(--primary-non-colour);
}

.ModalOpenRight {
  animation: slidein 0.4s ease-out forwards;
}

.ModalClosedRight {
  animation: slideout 0.4s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
