@import url("../../../assets/variables.module.css");

/* SA FACI SI FOCUS PT TAB KEY */

.right {
  right: 0;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-bottom: 8rem;
  justify-content: center;
}

.form input {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 3vh;
  padding: 0.8rem 1.6rem;
  border: 0.1rem solid var(--secondary-text);
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.actions button {
  cursor: pointer;
  color: #fff;
  background-color: var(--secondary);
  border: 1px solid var(--primary-light);
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: var(--secondary-darker);
  border-color: var(--primary-darker);
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: var(--secondary-text);
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: var(--primary-text);
}
