.cart-active {
  position: absolute;
  width: 35%;
  right: 1rem;
  top: 13rem;
  background-color: var(--primary-text);
  z-index: 100;
}

.cart-active:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.5rem 2rem 1.5rem;
  border-color: transparent transparent var(--primary-text) transparent;
  position: absolute;
  top: -2rem;
  left: 90%;
  margin-left: -1rem;
}

.HoverCart {
  animation: openCartModal 0.3s ease-out forwards;
}

.UnhoverCart {
  animation: closeCartModal 1s ease-out forwards;
}

@keyframes openCartModal {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeCartModal {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

.cart-products {
  padding: 2rem;
}

.cart-products li {
  padding-bottom: 2rem;
}

.cart-products li:last-child {
  padding-bottom: 0;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.1fr;
  column-gap: 2rem;
}

.cart-item-image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-light);
  overflow: hidden;
}

.cart-item-image a {
  display: flex;
  width: 80%;
}

.cart-item-image img {
  width: 100%;
  transform: scale(1.3);
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-details span {
  font-size: 1.6rem;
  color: var(--primary-non-colour);
  line-height: 1.8rem;
  display: block;
  margin-bottom: 2.4rem;
}

.minicart-footer {
  padding: 1rem 2rem;
  background: var(--primary-light);
  display: flex;
}

.minicart-button {
  /* width: 100%; */
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: none;
  /* border-radius: 1rem; */
  justify-self: flex-start;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
  background-color: var(--primary-text);
  color: var(--primary-non-colour);
}

.cart-total {
  align-self: center;
  margin-left: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--primary-text);
  font-weight: 700;
}
