.product-name h1 {
  padding-bottom: 1rem;
}

.product-name h3 {
  color: var(--secondary-text);
  padding-bottom: 2rem;
}

.product-price {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-darker);
  margin-bottom: 2rem;
}
