@import url("../../../assets/variables.module.css");

.header-wrapper {
  height: 16.2rem;
  font-size: 1.8rem;
}

.header-discount {
  background-color: var(--primary);
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}

.header-nav {
  /* Because we want header to be sticky later */
  padding: 1.4rem;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
}

.outline {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.outline svg {
  width: 100%;
  height: 100%;
  color: var(--primary-text);
}

.logo {
  line-height: 0;
  text-align: center;
  width: 50%;
  justify-self: center;
}

.logo img {
  height: 9rem;
}

.nav-options {
  justify-self: flex-end;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.2rem;
  letter-spacing: -0.5px;
}

.main-nav-link {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link svg {
  margin-right: 0.5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary);
}

.main-nav-link span {
  display: flex;
}

.cart-item {
  position: relative;
}

.cart-item:after {
  content: "";
  display: block;
  background: #ea2328;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  position: absolute;
  top: -0.2rem;
  right: 0.3rem;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
