.checkout-name {
  width: 50%;
  text-align: left;
}

.checkout-qty {
  width: 10%;
}

.checkout-price {
  width: 25% !important;
}

.checkout-total-price {
  width: 20% !important;
}

.product-name {
  display: flex;
}

.product-image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-non-colour-section);
  overflow: hidden;
}

.product-image a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image img {
  width: 60%;
  transform: scale(1.5);
}

.product-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.product-details a {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 2rem;
}

.product-details a:active,
.product-details a:link,
.product-details a:visited {
  text-decoration: none;
  color: var(--primary-text);
}

.product-details a:hover {
  text-decoration: underline;
}

.product-details span {
  color: var(--secondary-text);
  font-weight: 300;
}

.modify-qty {
  display: flex;
  justify-content: space-evenly;
  border: 0.1rem solid #d4d4d4;
  padding: 0.5rem 0;
}

.qty-btn {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: var(--primary-text);
  padding: 0 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.qty-btn span {
  padding: 0 0.5rem;
}

.modify-qty > span {
  display: inline-block;
  line-height: 3rem;
  border-left: 0.1rem solid #d4d4d4;
  border-right: 0.1rem solid #d4d4d4;
  padding: 0 1rem;
  text-align: center;
}

.modify-qty input[type="text"] {
  width: 2rem;
  font-size: 1.6rem;
  display: flex;
  text-align: center;
  line-height: 3rem;
  border: none;
  outline: none;
}

.product-price {
  font-size: 1.8rem;
  color: var(--secondary-text);
  display: flex;
  justify-content: center;
}

.checkout-total {
  margin-top: 3rem;
}

.voucher-form {
  text-align: left;
  display: flex;
}

.button-coupon {
  justify-content: center;
  margin: 0 0 0 1.5rem;
}

.voucher-text {
  /* height: 5rem; */
  border: 0.1rem solid #d4d4d4;
  padding: 0 1.5rem;
  /* line-height: 5rem; */
  font-size: 1.3rem;
}

.cart-total {
  text-align: left;
}

.cart-total span {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primary-text);
}

.cart-total-final.special-line {
  text-decoration: line-through;
}

.voucher-action {
  font-weight: 600;
  display: flex;
  color: var(--primary);
  align-items: center;
}

.voucher-action > svg {
  margin-left: 1rem;
  cursor: pointer;
}

.final-qty {
  font-size: 1.6rem;
  text-align: center;
  color: var(--primary-text);
}

.cart-order-free {
  color: var(--primary-text);
  font-size: 1.2rem;
  text-align: inherit;
}
