.section-products {
  background-color: var(--primary-non-colour-section);
  padding: 0 1.5rem;
  color: var(--primary-text);
}

.sneakers {
  max-width: 150rem;
  margin: 0 auto;
  align-items: center;
}
