.sneaker-products {
  padding-top: 6rem;
}

.sneaker-products ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 100%;
}

.sneaker-item {
  display: flex;
  background-color: var(--primary-non-colour);
  flex-direction: column;
  width: 100%;

  /* pt scale */
  overflow: hidden;
}

.sneaker-item a {
  display: flex;
  flex-direction: column;
}

.sneaker-item a:active,
.sneaker-item a:hover,
.sneaker-item a:link,
.sneaker-item a:visited {
  text-decoration: none;
  color: inherit;
}

.sneaker-item p {
  padding-left: 1rem;
  z-index: 1;
  line-height: 1.2;
}

.articles-number {
  padding: 2rem;
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
