.section-cart {
  padding: 1.5rem;
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 0.75fr 0.25fr;
}

.checkout-header {
  position: relative;
  padding: 1.5rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.checkout-header h3 {
  line-height: 3rem;
  font-size: 1.3rem;
  color: var(--primary-non-colour);
  text-transform: uppercase;
}

.checkout-header-bg:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background-color: var(--primary-text);
  top: 0;
  height: 6rem;
  right: 0;
  z-index: -1;
}

fieldset {
  border: none;
}

.order-button {
  display: block;
  text-align: center;
}
.shipping-adress {
  padding: 3rem 4rem 0 4rem;
}

/* FOR EMPTY CART */
.cart-empty-wrapper {
  margin: 5rem auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7.5rem;
  color: var(--primary-text);
  text-transform: uppercase;
}

.cart-empty-wrapper h2 {
  font-size: 3.6rem;
  color: inherit;
  letter-spacing: 0.2rem;
  font-weight: 800;
  text-align: center;
}

.info-header {
  background-color: var(--primary-text);
  color: var(--primary-non-colour);
  padding: 2rem;
  font-size: 1.4rem;
  /* text-transform: uppercase; */
  text-align: center;
}

@media (max-width: 55em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 42em) {
  .checkout-header-bg:before {
    height: 4rem;
  }

  .checkout-header {
    padding: 0.5rem 1rem;
  }
}
