.left {
  left: 0;
  background-color: var(--primary-text);
}

.gender-selector {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  justify-content: space-evenly;
  /* text-align: center; */
  padding: 0;
}

.gender-selector a {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 2.2rem;
  text-decoration: none;
  border: none;
  font-family: "Apercu", sans-serif;
  cursor: pointer;
  padding: 1rem 0;
}

.gender-selector a:hover {
  background-color: var(--primary);
  color: var(--primary-text);
}

.ModalOpenLeft {
  animation: slidein 0.4s ease-out forwards;
}

.ModalClosedLeft {
  animation: slideout 0.4s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideout {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
