.search-bar {
  width: 100%;
  max-width: 100%;
  height: 50rem;
  background-color: var(--primary-non-colour);
}

.search-input {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 6rem;
  padding: 0.5rem 0;
  margin: 0;
  height: 9rem;
  width: 60%;
  margin: 10% 20% 0 20%;
  border-radius: 0.4rem;
  border: none;
  border-bottom: var(--primary-text) solid 0.1rem;
}

.result-search {
  background-color: var(--primary-non-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30rem;
  overflow-y: scroll;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 22001;
}

.result-search > li {
  list-style-type: none;
  border-bottom: 0.1rem solid var(--primary-darker);
}

.result-search li:last-child {
  border: none;
}

.result-search > li > a {
  text-decoration: none;
}

.result {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70vw;
  text-decoration: none;
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

.ModalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
