.section-details {
  padding: 1.5rem;
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1.25fr 0.75fr;
}

.product-data {
  color: var(--primary-text);
}

h2 {
  padding: 3rem 0;
  color: var(--primary-darker);
}
