:root {
  --primary: #67a7df;
  --primary-light: #adcae3;
  --primary-darker: #4f80ab;

  --secondary: #e5077a;
  --secondary-light: #ea4d9e;
  --secondary-darker: #b3055f;

  --primary-text: #051026;
  --secondary-text: #959595;

  --primary-non-colour: #fff;
}
