.product-variants select {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.product-buttons {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: 2rem;
  margin: 0;
}

.cart-btn {
  margin: 0;
}

.cart-btn > button {
  color: var(--primary-non-colour);
  background-color: var(--primary-text);
  border-radius: 1rem;
  padding: 1.6rem;
  transition: all 0.3s;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  display: inline-block;
}

.cart-btn > button:hover {
  color: var(--primary-text);
  background-color: var(--primary-darker);
}

.wishlist-btn > button {
  background-color: var(--primary-non-colour);
  box-shadow: inset 0 0 0 0.1rem var(--primary-text);
  color: var(--primary-text);
  display: flex;
}

.wishlist-btn svg {
  margin-left: 1rem;
  stroke: var(--primary-text);
}

.wishlist-btn > button:hover {
  background-color: var(--secondary-text);
}

@media (max-width: 55em) {
  .cart-btn > button {
    padding: 1rem;
  }
}
