/* padding-top from login-container + padding-top checkout-option =3.5rem ~ same as td element */
.checkout-option {
  padding-top: 1.5rem;
}

.checkout-wrapper-option {
  display: flex;
  font-size: 1.3rem;
  color: var(--primary-text);
  font-weight: 600;
}

.checkout-wrapper-option input {
  margin-right: 0.5rem;
}
