.login-container {
  padding: 2rem 0.5rem 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkout-login-inputs {
  margin-top: 1.5rem;
  border-left: 0.1rem solid var(--primary-non-colour);
  line-height: 1rem;
}

.checkout-login-inputs > div {
  padding: 0rem 2rem 0 4rem;
}
