* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* scroll-behavior: smooth; */
  /* Does NOT work on Safari */
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: red;

  /* adding overflow because at first breakpoint in media queries do an overflowx-x */
  /* overflow-x: hidden; */
}
