.search-filters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.filter-cat {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 1rem 1rem 2rem;
  font-weight: 500;
  background-color: #051026;
  cursor: pointer;
}

.active {
  background-color: #67a7df;
}

.filter-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 2.5rem 6rem;
  background-color: #adcae3;
  list-style: none;
}

.filter-list li {
  font-size: 1.6rem;
  display: flex;
}

.filter-list a {
  color: #051026;
  margin-left: 1rem;
  line-height: 1.1;
  text-decoration: none;
}

.filter-list a:hover {
  text-decoration: underline;
}

.FilterOpen {
  animation: openFilter 0.4s ease-out forwards;
}

.FilterClosed {
  animation: closeFilter 0.1s ease-out forwards;
}

@keyframes openFilter {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeFilter {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-25%);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
