.drawer {
  width: 28rem;
  position: fixed;
  max-width: 70%;
  height: 100%;
  top: 0;
  z-index: 100;
  padding: 3.2rem 1.6rem;
  box-sizing: border-box;
}

.logo-exit {
  display: flex;
  justify-content: flex-end;
  color: var(--secondary);
}

.exit-icon {
  font-size: 1.6rem;
  text-align: center;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.exit-icon:hover {
  color: var(--secondary-darker);
}
